{% extends 'dinner/base.html' %}
{% load static %}

{% block content %}
    <h2>Restaurant List</h2>
    {% if restaurants %}
        <ul>
            {% for restaurant in restaurants %}
                <li>
                    <strong>{{ restaurant.name }}</strong>
                    <p>Distance: {{ restaurant.distance_from_me }} miles</p>
                    <p>Cost: {{ restaurant.get_cost_range_display }}</p>
                </li>
            {% endfor %}
        </ul>

        <!-- Pagination Controls -->
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        </div>
    {% else %}
        <p>No restaurants available.</p>
    {% endif %}
{% endblock %}
