 {% load static %}
<html>
    <head>
        <title>Quote of the Day</title>
        <link rel="stylesheet" href="https://cs-people.bu.edu/colbertn/styles3.css">
    </head>

    <body>
        <nav>
            <ul>
                <li><a href="{% url 'quote' %}">Home</a></li>
                <li><a href="{% url 'show_all' %}">Show All</li>
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>
        </nav>

        {% block content %}

        {% endblock %}

        <hr>
    </body>
</html>