{% load static %}
<html>
    <head>
        <title>Mini Facebook</title>
        <link rel="stylesheet" href="https://cs-people.bu.edu/colbertn/styles-minifb.css">
         <!-- <link rel="stylesheet" href="{% static 'styles2.css' %}">  -->

    </head>

    <body>
            <header>
                <h1> Mini Facebook</h1>
            </header>
        </div>
        <nav>
            <ul>
            </ul>
        </nav>

        {% block content %}

        {% endblock %}
        <hr>
    </body>
</html>