
{% extends 'mini_fb/base.html' %}


{% block content %}
<a href="{% url 'profile' profile.pk %}"> Return to Profile</a>

<h2>News Feed</h2>
{% for s in profile.get_news_feed %}
        <div>
            <div>
                <h3>{{s.profile}}</h3>
            </div>
            <strong>{{s.message}}</strong>
            <div>
                {% if s.get_images %}
                    {% for img in s.get_images %}
                        <img src='{{img.image_file.url}}' alt='{{img.image_file.url}}' style="width: 100px;">
                    {% endfor %}
                {% endif %}
            </div>

            <p>
                {{s.timestamp}}
            </p>
        </div>
{% endfor %}
{% endblock %}