{% extends 'mini_fb/base.html' %}

{% block content %}

<h1>{{profile.first_name}} {{profile.surname}}</h1>
<img src="{{profile.pfp}}" alt="{{profile.pfp}}" style="width: 500px;">
<p>
    {{profile.city}}
</p>
<p>
    {{profile.email}}
</p>

<div>
    {% if profile.get_friends %}
        <h3>Friends</h3>
        <main class="grid-container">
            {% for f in profile.get_friends %}
                <profile>
                    <a href="{% url 'profile' f.pk %}"> <img src="{{f.pfp}}" alt="{{f.pfp}}" style="width: 100px;"> </a>
                    <div> <a href="{% url 'profile' f.pk %}"> {{f.first_name}} {{f.surname}} </a></div>
                </profile>

            {% endfor %}
        </main>
        {% for f in profile.get_friends %}
            
        {% endfor %}
    {% endif %}
</div>
<div>
    <h4>
        <a href="{% url 'friend_suggestions' profile.pk %}">
            Suggested Friends
        </a>
    </h4>
    <h4>
        <a href="{% url 'news_feed' profile.pk %}">
            News Feed
        </a>
    </h4>
</div>


<div>
    {% if profile.get_status_message %}
        <h3>Status Messages</h3>
        {% for s in profile.get_status_message %}
            <div>
                <strong>{{s.message}}</strong>
                <div>
                    {% if s.get_images %}
                        {% for img in s.get_images %}
                            <img src='{{img.image_file.url}}' alt='{{img.image_file.url}}' style="width: 100px;">
                        {% endfor %}
                    {% endif %}
                </div>

                <p>
                    {{s.timestamp}}
                </p>
                <div>
                    <p>
                        <a href="{% url 'delete_status' s.pk %}"> Delete</a>
                        <a href="{% url 'update_status' s.pk %}"> Update</a>
                    </p>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
<div>
    <h4>
        <a href="{% url 'create_status' profile.pk %}">
        Create a Status Message</a>
    </h4>
    <h4>
        <a href="{% url 'update_profile' profile.pk %}">
            Update this profile
        </a>
    </h4>
</div>

{% endblock %}