{% extends 'mini_fb/base.html' %}

{% block content %}

<h2>Update a status</h2>

<form method="POST">
    {% csrf_token %}
    <table>
        {{form.as_table}}

        <tr>
            <td></td>
            <td><input type="submit" name="submit" value="Update Status">
            </form>
            <form action="{% url 'show_all_profiles' %}">
                <input type="submit" name="Cancel" value="Cancel">
            </form>
            </td>
        </tr>
    </table>
</form>

{% endblock %}