{% extends 'quotes/base.html' %}

{% block content %}
<div>
    <p class="center"> Morrissey is best known for being the lead singer and lyricist for the band The Smiths. The quotes displayed on this website were taken from a collection
        of his letters to his various pen-pals throughout the 80s. The full collection I referenced can be found linked below.
     </p>
</div>
<div>
    <p class="center">
        Being Morrissey of course, these quotes should be taken lightheartedly and with the understanding that there is no one more elitist than him.
    </p>
</div>
<div>
    <a href="https://illnessasart.com/2020/07/11/words-by-morrissey-pen-pal-letters/" class="center">A full collection of Morrissey's letters </a>
</div>

{% endblock %}